<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.toplong.perfectparents"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />
    
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    

    <application
        android:name="com.toplong.perfectparents.app.PerfectParents"
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.toplong.perfectparents.activity.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.toplong.perfectparents.activity.GuideActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.toplong.perfectparents.activity.MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.toplong.perfectparents.activity.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.toplong.perfectparents.activity.RegisterActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.toplong.perfectparents.activity.PerfectInfoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.toplong.perfectparents.activity.PersonInfoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.toplong.perfectparents.activity.RegisterSuccessActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>
